doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body4
    header
    img#logo(src='https://i.imgur.com/nc6CypP.png')
    button.button.button1(onclick="location.href='/layout';") Home
    button.button.button1(onclick="location.href='/results';") Results
    button.button.button1(onclick="location.href='/about';") About
    button.button.button1(onclick="location.href='/contact';") Contact		
          
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Contact us <br />Phone: 02 925 771<br /> Email: cenkocakov@gmail.com
              section.cell