doctype html
html
  head
    title Middle WEB
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body#body
    div(align='center')
      img(src='https://i.imgur.com/KySkKmR.png', width='552', height='75')
    p#description
      | You know what is the 
      span#deep  Normal WEB 
      |  - it`s boring and every cool thing costs a lot of money.
      | Yes, there are torrents, but the good ones are hard to find. And also you may want much
      | more things (maybe illegal ones) which you just can`t find here.
      br
      br
      | You know (maybe) what is the 
      span#deep  Deep WEB 
      |  - it`s much more interesting and cool but every thing
      | costs money - and this time is even harder - they want fucking bitcoins - soooo annoying.
      | And the Deep web is very dangerous :((( !
      br
      br
      | So NOW you got a 
      span#middle  Middle WEB 
      |  - Here you can get almost everything you want. Just contact us
      | and our skilled team will turn over the whole internet to find what you want. Yes, we want
      | money too - but far less than the other ones. And it`s so easy - you need only PayPal.
    ul#list
      li
        | You want an ebook (legal or illegal) 
        span#pay but you don`t want to pay so much?
      li
        | You want a movie in HD or on specific language 
        span#pay but you don`t want to pay so much?
      li
        | You want episodes from your favourite tv show, 
        span#pay but you don`t want to pay so much?
      li
        | You want pictures (legal or illegal) 
        span#pay and you don`t want to pay so much?
      li
        | You want a video (legal or illegal) 
        span#pay and you don`t want to pay so much?
      li
        | Or you just want something cool 
        span#pay and you don`t want to pay so much?
    #contact
      | Just send us an email on 
      span#email  middlewebcontact@gmail.com 
      button#button(onclick='myFunction()') Copy Email
    br
    #paypal(align='center')
      | You can make your payments only with
      img(src='https://i.imgur.com/4BTmEkI.png', style='border-radius: 25px; vertical-align: middle;', width='150', height='143')
    footer#footer
      div(align='center')  Copyright © 2018 Middle WEB™ All rights reserved! 
    input#myInput(type='text', value='middlewebcontact@gmail.com', style='width: 0.01%; border-color: #191e24;')
    script.
      function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      document.execCommand("copy");
      }
