#body 
{
	background: url(https://i.imgur.com/hMFUwXi.jpg);
        background-color: #0c0c0c;
	position: relative
}

#description
{
	font-size: 30px;
	color: white;
}

#deep
{
	font-size: 30px;
	color: yellow;
	font-weight: bold;
}

#middle
{
	font-size: 35px;
	color: #e835bb;
	font-weight: bold;
}

#footer
{
	color: white;
	font-family: Arial;
	font-size: 25px;
}

#list
{
	font-size: 30px;
	color: #03a9f4;
	font-weight: bold;
}

#pay
{
	color: red;
}

#contact
{
	font-size: 40px;
	color: #18cc1e;
	font-weight: bold;
}

#email
{
	color: white;
}

#button
{
    background-color: #18cc1e;
    font-weight: bold;
    color: white;
    padding: 12px 26px;
    border: 0;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    margin-top: -2px;
    cursor: pointer;
}

#paypal
{
	font-size: 40px;
	color: #1c67d8;
	font-weight: bold;
}

#myInput:focus 
{
	outline:0;
}

